<%- include('header'); -%>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card o-hidden border-0 my-5">
                    <div class="card-body p-0">
                      <div>
                          <h2 class="notificationsHeader">All Notifications</h2>
                      </div>

                  <a class="d-flex align-items-center dropdown-item" href="#">
                      <div class="mr-3">
                          <div class="bg-success icon-circle"><img src="WeCBRlogo.jpeg" style="width:100%; border-radius:100%;" alt=""></div>
                      </div>
                      <div><span class="small text-gray-500">April 16, 2020</span>
                          <p class="notificationContent">you got an invitation from WeCBR</p>
                      </div>
                  </a>
                  <a class="d-flex align-items-center dropdown-item" href="#">
                      <div class="mr-3">
                          <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                      </div>
                      <div><span class="small text-gray-500">December 2, 2019</span>
                          <p>you got an invitation from Tony Stark</p>
                      </div>
                  </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
